<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925634881092-b8neq3ot893t4gumibdidhb6de3td0m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925634881092-b8neq3ot893t4gumibdidhb6de3td0m1</string>
	<key>API_KEY</key>
	<string>AIzaSyDBZEgh5MryUFc9xyxC4UwvxUUMEFucWiI</string>
	<key>GCM_SENDER_ID</key>
	<string>925634881092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harikris.dev.redditCloneFullstack</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-fullstack</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-fullstack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925634881092:ios:ac20c6bffcd85f24857e11</string>
</dict>
</plist>